* {
    /*清除默认样式*/
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
    background: #fff;
    color: #444;
    font: 9pt Arial, "微软雅黑";
    font-family: HELVETICANEUELTPRO-THEX, Arial, "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow-x: hidden;
    background: url("./pictures/bg.jpg") fixed  0 0 /100% 140% no-repeat ;
}

.content{
    /*水平居中*/

    max-width: 100%;

}
/**********导航栏部分*************/
.header_nav{
    
}
header{
    height: 79px;
    background: 0 0;
    transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s;/*变化速率和变化曲线*/
    position: fixed;
    z-index: 99;/*最上层*/
    width: 100%;

}

.header_content{
    /*头部内容竖直居中*/
   height:100%;
    padding: 10px 5px 0;

}

.header_childnav{
    position: absolute;
    top: 100%;
    margin-top: -10px;
    left: 0;
    z-index: 199;
    visibility: hidden;
    overflow: hidden;
    width: 180px;
    height: auto;
    border-top: 2px solid #bbb9bb;
    background-color: #fff;
    box-shadow: 0 13px 42px 11px rgba(0, 0, 0, .05);
    opacity: 0;
    transition: all .36s ease;
    line-height: 34px;
    color: #999999;
}
.header_childnavhid{
    position: absolute;
    margin-top: -10px;
    top: 100%;
    left: 0;
    z-index: 199;
    overflow: hidden;
    width: 180px;
    height: auto;
    border-top: 2px solid #bbb9bb;
    background-color: #fff;
    box-shadow: 0 13px 42px 11px rgba(0, 0, 0, .05);
    opacity: 1;
    transition: all .36s ease;
    padding-left: 5px;
    line-height: 34px;
    color: #999999;
}
nav{
    float: right;
    margin-right: 40px;
    padding-right: 0;
}
nav >li{
    position: relative;
    float: left;

    height: 100%;
    font-size: 16px;
    list-style: none;
}

#studio{
    position: relative;
    float: left;
    height: 100%;
    font-size: 16px;
    list-style: none;
}
#studio >a{
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 20px;
    height: 44px;
    color: #999;
    font-weight: 500;
    line-height: 44px;

}
#studio >ul >li:hover{
    background-color: #f9f9f9;
}
nav >li>a{
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 20px;
    height: 44px;
    color: #999;
    font-weight: 500;
    line-height: 44px;
}

.mini{
    height: 4pc;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}
@keyframes jackInTheBox {
    from {
        opacity: 0;
        transform: scale(0.1) rotate(30deg);
        transform-origin: center bottom;
    }

    50% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(3deg);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes flash {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@keyframes flash {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}


@keyframes colorGtoB {
    0% {
        color: #999;/*这个动画瞬间完成,把字体颜色改变*/
    }/*动画开始样式*/
    25%{
        color: #e3f2fd;
    }
    50%{
        color: #b3e5fc;
    }
    75%{
        color: #81d4fa;
    }
    100% {
        color: #00c0ff;
    }/*动画结束样式*/
}
@keyframes colorBtoG {
    0% {
        color: #00c0ff;/*这个动画瞬间完成,把字体颜色改变*/
    }/*动画开始样式*/
    25%{
        color: #81d4fa;
    }
    50%{
        color: #b3e5fc;
    }
    75%{

        color: #e3f2fd;
    }
    100% {
        color: #999;
    }/*动画结束样式*/
}

.bouncein {
    animation:rubberBand 1s , colorGtoB 1s forwards;
    -webkit-animation:rubberBand 1s,colorGtoB 1s forwards ;


}
.bounceout{
    animation:flash 1s , colorBtoG 1s forwards;
    -webkit-animation:flash 1s , colorBtoG 1s forwards;
}
.jackin{
    animation: jackInTheBox 1s , colorGtoB 1s forwards;
    -webkit-animation:jackInTheBox 1s,colorGtoB 1s forwards ;
}
.jackout{
    animation:jackInTheBox 1s , colorBtoG 1s forwards;
    -webkit-animation:jackInTheBox 1s , colorBtoG 1s forwards;

}

/************轮播部分************/
.lunbo_z{
    z-index: 1;
    position: fixed;
}
.lunbo_img{
    width: 100%;
    height: 100%;
}
.shuffling_ndr{
    background-color: #a0a;
}
.shuffling_studio{
    background-color: chartreuse;
}
.shuffling_daiding{
    background-color: yellow;
}
/*********滚动视差*************/
.num_bar{
    width: 100%;
    height: 208px;
    position: relative;
    overflow: hidden;
    background: #fff;
}
.scroll_parallax_gb{
    width: 100%;
    position: absolute;
    height: 582px;
    background: url("./pictures/scool_bg.jpg");
    background-position-y: 784px;
    padding-top: 91px;
    padding-left: 10%;

}

/***********数字栏************/
.num_content{

}

.main{
    z-index: 50;
    width: 100%;
    height: 2000px;
    position: absolute;
    top:500px;
    background-color: #ffffff;
}
/*****又一个滚动视差*****/


.article{
    width: 960px;
    margin: 0 auto;
    height: 800px;
    padding: 40px;
    font: 18px/1.5 'Microsoft YaHei';
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.section1{
    background-image: url("lunbo_1.jpg");
}

/***************/
